#loadingSpinner {
	animation-name: spinner;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spinner {
	0% {
		rotate: 0deg;
	}

	100% {
		rotate: 360deg;
	}
}
