#box {
	animation-name: moving-box;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes moving-box {
	0% {
		left: 0%;
		top: 0%;
	}
	25% {
		left: 100%;
		top: 0%;
	}
	50% {
		left: 100%;
		top: 100%;
	}
	75% {
		left: 0%;
		top: 100%;
	}
	100% {
		left: 0%;
		top: 0%;
	}
}
